.philosophy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #fff;
  padding: 60px 80px;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

.philosophy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
  opacity: 0; /* Cache la section avant l'animation */
  transform: translateY(20px); /* Décalage vers le bas */
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.philosophy-wrapper.visible {
  opacity: 1;
  transform: translateY(0); /* Retourne à la position normale */
}

.philosophy-content,
.philosophy-image {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  opacity: 0;
  transform: translateX(100%); /* Position initiale hors écran pour le texte */
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.philosophy-image {
  transform: translateX(-100%); /* Image commence hors écran à gauche */
}

.philosophy-wrapper.visible .philosophy-image {
  opacity: 1;
  transform: translateX(0); /* Image revient à sa position normale */
  transition-delay: 0.6s;
}

.philosophy-wrapper.visible .philosophy-content {
  opacity: 1;
  transform: translateX(0); /* Texte revient à sa position normale */
  transition-delay: 0.6s;
}

.philosophy-content h2 {
  font-size: 2.8em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.philosophy-content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.philosophy-image img {
  max-width: 75%;
  height: auto;
  border-radius: 3px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

/* Responsiveness */

/* Laptop - Écran moyen */
@media (max-width: 1024px) {
  .philosophy-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .philosophy-content,
  .philosophy-image {
    transform: translateY(50%); /* Passe à une animation verticale */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }

  .philosophy-wrapper.visible .philosophy-content,
  .philosophy-wrapper.visible .philosophy-image {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Smartphone - Écran petit */
@media (max-width: 768px) {
  .philosophy-section {
    padding: 20px 15px;
  }

  .philosophy-content h2 {
    font-size: 1.5em;
  }

  .philosophy-content p {
    font-size: 0.9em;
  }

  .philosophy-content,
  .philosophy-image {
    margin-bottom: 20px;
    transform: translateY(50%);
  }

  .philosophy-wrapper.visible .philosophy-content,
  .philosophy-wrapper.visible .philosophy-image {
    transform: translateY(0);
    opacity: 1;
  }
}
