/* Section principale */
.services-section {
  color: #fff;
  padding: 60px 0px;
  text-align: center;
  background-color: #111; /* Fond noir pour la section complète */
}

/* Première partie avec le fond en filigrane */
.services-intro {
  background-image: url('../assets/paysage.jpg'); /* Chemin vers l'image en filigrane */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  min-height: 700px; /* Hauteur minimale pour agrandir la section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ajout de padding uniquement pour le contenu interne */
.services-title,
.services-description {
  padding: 0 20px; /* Ajoute du padding uniquement autour du texte */
}

.services-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.services-description {
  max-width: 800px;
  margin: 0 auto 40px auto;
  font-size: 1.1em;
  line-height: 1.6;
  color: #ffffff; /* Texte secondaire légèrement plus clair */
}

/* Deuxième partie avec la grille des services */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes pour les services */
  gap: 40px;
  padding: 80px 20px; /* Espace entre les deux parties */
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: scale(0.5); /* Réduit les icônes initialement */
  opacity: 0; /* Rendre les éléments invisibles au départ */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Transition pour le zoom */
}

.service-icon {
  font-size: 3em;
  color: #D4AF37; /* Couleur dorée pour les icônes */
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-description {
  font-size: 0.9em;
  color: #ddd;
}

/* Animation déclenchée */
.animate-icons .service {
  transform: scale(1); /* Retourne à leur taille normale */
  opacity: 1; /* Rendre les éléments visibles */
}

/* Ajout d'un délai pour un effet simultané */
.services-grid .service:nth-child(1) {
  transition-delay: 0.6s;
}

.services-grid .service:nth-child(2) {
  transition-delay: 0.6s;
}

.services-grid .service:nth-child(3) {
  transition-delay: 0.6s;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes sur les écrans moyens */
    gap: 20px;
  }

  .service-icon {
    font-size: 2.8em; /* Réduit légèrement la taille des icônes */
  }
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr; /* Une seule colonne sur les petits écrans */
    gap: 20px;
  }

  .service-icon {
    font-size: 2.5em; /* Réduit légèrement la taille des icônes */
  }

  .services-title {
    font-size: 1.5em; /* Réduit la taille du titre sur mobile */
  }
}
